<div class="smarthub-accueil">
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav [mode]="isMobileorTablet ? 'over' : 'side'" [opened]="shouldSidenavBeOpened()">
          <mat-tab-group (selectedIndexChange)="onTabChange($event)">
            <mat-tab><ng-template mat-tab-label><span>Accueil</span></ng-template></mat-tab>
            <mat-tab><ng-template mat-tab-label><span>dimaria</span></ng-template></mat-tab>
            <mat-tab><ng-template mat-tab-label><span>dimaria</span></ng-template></mat-tab>
            <mat-tab><ng-template mat-tab-label><span>dimaria</span></ng-template></mat-tab>
            <mat-tab><ng-template mat-tab-label><span>dimaria</span></ng-template></mat-tab>
            <mat-tab><ng-template mat-tab-label><span>gestion profil</span></ng-template></mat-tab>
          </mat-tab-group>
        </mat-sidenav>
      
        <mat-sidenav-content>
            <div></div>
         <div *ngIf="selectedIndex ===0">
            <span>aaaaaaa</span>
         </div>
         <div *ngIf="selectedIndex ===1">
            <span>B</span>
         </div>
         <div *ngIf="selectedIndex === 5">
          <app-profil></app-profil>
        </div>        
        </mat-sidenav-content>
      </mat-sidenav-container>
</div>